# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
fc_venv/
venv/
backend/venv/

# Environment variables
.env

# Python pickle or joblib files
*.pkl

# Torch model files
*.pth
*.pt
*.model

# Large library files
*.dll
*.lib
*.so


# Log and output files
*.log
*.out
*.err

# Allow requirements.txt and other important txt files
# *.txt removed to allow requirements.txt

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

node_modules
